<h1>Top 5: <%= @ranking.category.title %></h1>
<hr>
<ol>
<% @ranking.selections.each do |selection| %>
    <li><%= link_to selection.player.name, player_path(selection.player) %></li>
<% end %>
</ol>
